@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 8% 91%;
    --foreground: 259 21% 20%;
    --card: 270 8% 95%;
    --card-foreground: 259 21% 20%;
    --popover: 270 8% 95%;
    --popover-foreground: 259 21% 20%;
    --primary: 259 21% 66%;
    --primary-foreground: 270 8% 98%;
    --secondary: 270 8% 88%;
    --secondary-foreground: 259 21% 20%;
    --muted: 270 8% 85%;
    --muted-foreground: 259 21% 35%;
    --accent: 198 19% 55%;
    --accent-foreground: 270 8% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 8% 85%;
    --input: 270 8% 88%;
    --ring: 198 19% 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 259 10% 10%;
    --foreground: 270 8% 91%;
    --card: 259 10% 12%;
    --card-foreground: 270 8% 91%;
    --popover: 259 10% 10%;
    --popover-foreground: 270 8% 91%;
    --primary: 259 21% 66%;
    --primary-foreground: 270 8% 98%;
    --secondary: 259 10% 15%;
    --secondary-foreground: 270 8% 98%;
    --muted: 259 10% 20%;
    --muted-foreground: 270 8% 60%;
    --accent: 198 19% 55%;
    --accent-foreground: 270 8% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 10% 20%;
    --input: 259 10% 15%;
    --ring: 198 19% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
